@import "tailwindcss";

.input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: #f3f4f6;
  font-size: 14px;
  outline: none;
}

.input::placeholder {
  color: #6b7280;
}

.input:focus {
  border-color: #6366f1;
  background: white;
}

.textarea {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: #f3f4f6;
  min-height: 120px;
  outline: none;
}